<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_MAD"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <activity android:name=".LoginActivity" android:exported="true"></activity>
        <activity android:name=".RegisterActivity" android:exported="true"></activity>
        <activity android:name=".DashboardActivity" android:exported="true"></activity>
        <activity android:name=".User_profileActivity" android:exported="true"></activity>
        <activity android:name=".AdminReporterActivity" android:exported="true"></activity>
        <activity android:name=".ReporterFeedbackActivity" android:exported="true"></activity>
        <activity android:name=".AdminReporterViewActivity" android:exported="true"></activity>
        <activity android:name=".AdminPostActivity" android:exported="true"></activity>
        <activity android:name=".NewNewsPost" android:exported="true"></activity>
        <activity android:name=".AdminUpdatePostActivity" android:exported="true"></activity>
        <activity android:name=".AdminAprovelPostActivity" android:exported="true"></activity>
        <activity android:name=".NewsDetailActivity" android:exported="true"/>
        <activity android:name=".ReporterUpdatePostActivity" android:exported="true"></activity>
        <activity android:name=".ReporterNewNewsPost" android:exported="true"/>
        <activity android:name=".Admin_Aprovel_NewsActivity" android:exported="true"/>
        <activity android:name=".RejectNewDetailActivity" android:exported="true"/>
        <activity android:name=".UpdateNewsdetailsActivity" android:exported="true"/>
        <activity android:name=".NewsReasonViewActivity" android:exported="true"/>
        <activity android:name=".DraftNewsActivity" android:exported="true"/>



    </application>

</manifest>